<div class="navigation">
  <h1>Music Life</h1>
  <p>Music Life is a community based site that let's musicians share song ideas for upcoming jam sessions.</p>
</div>

<div class="" ng-controller="emailMain">
        <div id="alerts" class="row">
            <form class="col s12" id="newsletter" ng-submit="create()">
              <h5 id="header">Sign up for email alerts</h5>
              <input id="address" class="col s12" type="text" value="" ng-model="newEmail.name" placeholder="...email">
              <button id="register" type="submit" name="button">register</button>
            </form>
        </div>
</div>


<div class="row">
  <div class="col s 12">
      <img id="image-one" class="col s3" src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/1933772_505295217201_7142_n.jpg?oh=44991db02755795f984481bbb88ff165&oe=572ECF54" alt="" />
      <img id="image-two" class="col s3" src="http://darkstardom.com/jams/jam-sessions.jpg" alt="" />
      <img id="image-three" src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/226959_7164798781_951_n.jpg?oh=3dae6ac73b949b73dd5e6ccb5c15df71&oe=573D1DA1" alt="" />
      <!-- <a class="col s3" href="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/1933772_505295217201_7142_n.jpg?oh=44991db02755795f984481bbb88ff165&oe=572ECF54"></a>
      <a class="col s3" href="http://darkstardom.com/jams/jam-sessions.jpg"></a> -->
  </div>
</div>



<body ng-controller="main">


<div class="row">
      <form id="" class="col s12" ng-submit="create()">
            <div id="new-entry" class="col s6">
              <input id="nickname" class="col s5" type="text" ng-model="newSong.username" value="" placeholder="...nickname">
              <textarea id="entry" type="text" ng-model="newSong.description" value="" placeholder="...what's on your mind?" cols="40"></textarea>
              <button id="submit" type="submit" name="button">submit</button>

            </div>
      </form>
</div>

<div class="row">
    <div id="results" class="col s6">

      <ul>
        <span>
            <li  ng-repeat="song in songs">

                <h5>{{song.username}} thinks</h5>
                <p class="paragraph">{{song.description}}</p>
                <i id="like" class="material-icons" ng-class="song.liked">thumb_up</i>

              <a href="#" ng-click="destroy(song.id)">Delete</a>
            </li>
      </span>

      </ul>

      <!-- <br /> -->
    </div>
</div>

<!-- <span></span> -->




</body>
