<h1>email newsletter show page </h1>


<div class="row">
    <div id="results-two" class="col s6">

      <ul>
        <span>
            <li  ng-repeat="email in emails">

                <h5>{{email.name}}</h5>
                <!-- <p class="paragraph">{{song.description}}</p> -->
                <!-- <i id="like" class="material-icons">thumb_up</i> -->

              <!-- <a href="#" ng-click="destroy(song.id)">Delete</a> -->
            </li>
      </span>

      </ul>

      <!-- <br /> -->
    </div>
</div>
